body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.container h1{
    color: "#4E74F9";
}

.container{
    display: flex;
    width: 80%;
    height: 80vh;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.container-esquerdo,
.container-direito{
    flex: 1;
    padding: 20px;
}

.container-esquerdo{
    background-color: #fff;
}

.container-direito{
    background-color: #fff;
}

.divisor{
    width: 1px;
    background-color: #000;
    height: 50%; 
    align-self: flex-end; 
}